<div class="card" style="width: 25rem;">
  <%= link_to image_tag("/image_001.jpg", alt: "My Image", class: "card-img-top"), "http://localhost:3000" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>
</div>