<div class="card" style="width: 25rem;">
  <img src="https://cdna.artstation.com/p/assets/images/images/048/441/318/large/clement-moreau-20220414-binocular-viewport-019.jpg?1650187451" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>
</div>